.header{
    background: $Off-black ;
    margin-bottom: 4.8rem;
    padding: $medium-size 0;
    color: white
    
} 
.header__title{
    font-size: $large-size; 
    margin: 0;
    text-align: center;
}

.header__subtitle{
    color: $Off-white;
    font-size: $medium-size;
    font-weight: 500;
    margin:  0;
    text-align: center;
}