.option{
    background-color:#3c4251; 
    padding: 10px 10px; 
    display: flex;
    
    justify-content: space-between;
}

.in-option{
    color: #cbd1df;
    font-size:150% ;
}

.add-option-error{
    color:red;
    font-size: 115%;
}